hello

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Welcome to Angular Course</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Java
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Welcome to Java Course</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        SQL
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Welcome to SQL Course</p>
  </mat-expansion-panel>
</mat-accordion>
<div>
  <mat-progress-bar mode="determinate" value="80" color="warn"></mat-progress-bar>
</div>
<div>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div>
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>
<div>
  <mat-progress-bar mode="query" ></mat-progress-bar>
</div>
<div >
  <progress-bar [progress]="progress.toString()" [color]="'#488aff'">
  </progress-bar>
</div>

